.MediaCarousel {
  padding: 0;
  position: relative;
  overflow: hidden;
  color: white;
}

.MediaCarousel-inner {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.MediaCarousel-inner {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.MediaCarousel-inner::-webkit-scrollbar {
  display: none;
}

.MediaCarousel-button {
  background: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 4%;
  display: flex;
  align-items: center;
  transition: opacity 0.2s;
  border: 0;
  display: none;
  justify-content: center;
  opacity: 0;
  cursor: default;
}

.MediaCarousel-button:not([disabled]) {
  cursor: pointer;
  opacity: inherit;
}

.MediaCarousel-button > * {
  transition: opacity 0.2s;
  opacity: 0;
}

.MediaCarousel:hover .MediaCarousel-button > *,
.MediaCarousel .MediaCarousel-button:focus-within > * {
  opacity: 1;
}

/* .MediaCarousel-button:disabled {
} */

.MediaCarousel-button.left {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  left: 0;
}

.MediaCarousel-button.right {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  right: 0;
}

@media screen and (min-width: 768px) {
  .MediaCarousel-button {
    display: flex;
  }

  .MediaCarousel-inner {
    overflow-x: visible;
    overflow-y: unset;
  }

  .MediaCarousel {
    padding: 0 4%;
  }

  .MediaCarousel-item:first-child {
    margin-left: 0%;
  }

  .MediaCarousel-item:last-child {
    margin-right: 0%;
  }
}
