@charset "UTF-8";

@font-face {
  font-family: "Netflix-Sans";
  src: url("./fonts/NetflixSans-Light.otf") format("opentype"),
    url("./fonts/NetflixSans-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Netflix-Sans";
  src: url("./fonts/NetflixSans-Medium.otf") format("opentype"),
    url("./fonts/NetflixSans-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Netflix-Sans";
  src: url("./fonts/NetflixSans-Bold.otf") format("opentype"),
    url("./fonts/NetflixSans-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Netflix-Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
